
body {  
  background: url("../images/desert4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#portfolio {
  background: url("../images/portfolio-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.display-4 {
  font-size: 65px;
  margin-left: 25px;
  margin-top: 75px;
}

.lead {
  margin-left: 30px;
  font-size: 30px;
}

.carousel {
  margin-top: -20px;
}

.carousel-inner {
  margin: 0 auto;
  width: 25%;
  height: 25%;
}

.carousel-control.left {
  margin-left: 375px;
  opacity: 0.2;
}

.carousel-control.right {
  margin-right: 375px;
  opacity: 0.2;
}

#work-samples {
  bottom: -15px;
}

#about-daniel {
  bottom: 140px;
}

#contactInfo {
  position: relative;
  top: 160px;
}

h3 {
  position: relative;
  bottom: 75px;
}

.form-control {
  background-color: transparent;
  border: 1px solid;
  color: black;
}

#head-shot {
  width: 210px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1.0;
  border-radius: 50%;
  position: relative;
  bottom: 80px;
}

#portfolio-header {
  position: relative;
}

.col-md-4 {
  position: relative;
  top: 75px;
}

.portfolio-image {
  border-radius: 33%;
  height: 260px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1.0;
}

#album-review-header {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

#about-me {
  color: white;
  position: relative;
  bottom: 45px;
}

.project-desc {
  color: white;
  margin-top: 15px;
}

.copyright {
  margin-right: 275px;
}

footer {
  color: #e5d1b9;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  right: 400px;
  bottom: 0px;
  width: 100%;
  height: 75px;
  text-align: center;

}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    /* Layout Declarations */
    color: #f4ad42;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #73A8C2;
  text-decoration: none;
}

.social > li {
  display: inline-block;
  margin: 0 5px;
}

.content-footer > p {
  color: #F7EDE1;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover {
  text-decoration: none;
}
  
@media only screen and (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 2em 2.5em;
  }
}



